[user]
	name = Dylan Kinnett
	email = dkinnett@thewalters.org

[alias]
  co = checkout
  ci = commit
  st = status
  br = branch

[color]
	ui = auto
  [color "branch"]
    current = yellow reverse
    local = yellow
    remote = green
  [color "diff"]
    meta = yellow
    frag = magenta
    old = red
    new = green
    whitespace = red reverse
  [color "status"]
    added = yellow
    changed = green
    untracked = cyan
  [core]
    whitespace=fix,-indent-with-non-tab,trailing-space,cr-at-eol
	autocrlf = input
	eol = lf
	editor = code --wait
	excludesfile = ~/.gitignore_global
	attributesfile = ~/.gitattributes_global
[init]
	defaultBranch = main
[push]
	default = current
