! after you edit: xrdb ~/.Xresources 


! ------------------------------------------------------------------------------
! Xterm Settings
! ------------------------------------------------------------------------------

XTerm*utf8: 1
xterm*font:     xft:CourierPrimeCode Nerd Font Mono:size=14:antialias=true
! xterm*geometry: 90x32
xterm*mouseWheelScrollPage:       true
XTerm*cursorColor: teal
xterm*cursorBlink:                true
xterm*saveLines:                  5000
xterm*internalBorder: 15
XTerm*visualbell: true
XTerm*bellIsUrgent: true
Xterm*fastScroll: true
! support sixel bitmap graphics and colors
XTerm*decTerminalID: 340
XTerm*numColorRegisters: 256

! control and + or - to zoom in or out
Ctrl <Key> minus: smaller-vt-font() \n\
Ctrl <Key> plus: larger-vt-font() \n\
Ctrl <Key> 0: set-vt-font(d) \n\

! help select files (/some/filename) or links (https://www.xyz.com) 
XTerm*charClass: 33:48,36-47:48,58-59:48,61:48,63-64:48,95:48,126:48
! select links with triple click:
XTerm*on3Clicks: regex ([[:alpha:]]+://)?([[:alnum:]!#+,./=?@_~-]|(%[[:xdigit:]][[:xdigit:]]))+
! select a link, then shift+click it to open it
XTerm*translations: #override Shift <Btn1Up>: exec-formatted("xdg-open '%t'", PRIMARY)  select-start() select-end()


! Normal cut & paste key conventions ( ctrl-shift c/v )
XTerm*selectToClipboard:          true
xterm*highlightSelection: true
xterm*trimSelection: true
XTerm*VT100.Translations: #override \
      Shift Ctrl<Key>C: copy-selection(CLIPBOARD) \n\
      Ctrl<Key>V: insert-selection(CLIPBOARD) \n\
      Ctrl<Key>V: insert-selection(PRIMARY) \n\
      Shift<Btn1Down>: select-start() \n\
      Shift<Btn1Motion>: select-extend() \n\
      Shift<Btn1Up>: select-end(CLIPBOARD) \n\

! ------------------------------------------------------------------------------
! Colour Configuration
! ------------------------------------------------------------------------------

! Base16 Material Darker
! Scheme: Nate Peterson

#define base00 #212121
#define base01 #303030
#define base02 #353535
#define base03 #4a4a4a
#define base04 #b2ccd6
#define base05 #eeffff
#define base06 #eeffff
#define base07 #ffffff
#define base08 #f07178
#define base09 #f78c6c
#define base0A #ffcb6b
#define base0B #c3e88d
#define base0C #89ddff
#define base0D #82aaff
#define base0E #c792ea
#define base0F #ff5370

*foreground:   base05
#ifdef background_opacity
*background:   [background_opacity]base00
#else
*background:   base00
#endif
*cursorColor:  base05

*color0:       base00
*color1:       base08
*color2:       base0B
*color3:       base0A
*color4:       base0D
*color5:       base0E
*color6:       base0C
*color7:       base05

*color8:       base03
*color9:       base08
*color10:      base0B
*color11:      base0A
*color12:      base0D
*color13:      base0E
*color14:      base0C
*color15:      base07

! Note: colors beyond 15 might not be loaded (e.g., xterm, urxvt),
! use 'shell' template to set these if necessary
*color16:      base09
*color17:      base0F
*color18:      base01
*color19:      base02
*color20:      base04
*color21:      base06

! ------------------------------------------------------------------------------
! URxvt configs
! ------------------------------------------------------------------------------

!! URxvt Appearance
URxvt.font: xft:CourierPrimeCode Nerd Font Mono:style=Regular:pixelsize=20:style=regular:antialias=true
URxvt.boldFont: xft:Courier Prime Code Nerd Font:pixelsize=20:antialias=true
URxvt.italicFont: xft:CourierPrimeCode Nerd Font Mono:style=Italic:pixelsize=20:antialias=true
URxvt.boldItalicfont: xft:Courier Prime Code Nerd Font:pixelsize=20:antialias=true
URxvt.letterSpace: 0
URxvt.lineSpace: 0
URxvt.geometry: 92x24
URxvt.internalBorder: 24
URxvt.cursorBlink: true
URxvt.cursorUnderline: false
URxvt.saveline: 2048
URxvt.scrollBar: false
URxvt.scrollBar_right: false
URxvt.urgentOnBell: true
URxvt.depth: 24



! URxvt.keysym.Control-C: eval:selection_to_clipboard

! Do I need to remove/change any default bindings first?
URxvt.keysym.Control-v: builtin-string:

! use control+v for "paste"
URxvt.keysym.Control-V: eval:paste_clipboard

! I read these are needed to disable other behavior of control key
URxvt.iso14755: false 
URxvt.iso14755_52: false

! ------------------------------------------------------------------------------
! Rofi configs
! ------------------------------------------------------------------------------

rofi.color-enabled: true
rofi.color-window: #2e3440, #2e3440, #2e3440
rofi.color-normal: #2e3440, #d8dee9, #2e3440, #2e3440, #bf616a
rofi.color-active: #2e3440, #b48ead, #2e3440, #2e3440, #93e5cc
rofi.color-urgent: #2e3440, #ebcb8b, #2e3440, #2e3440, #ebcb8b
rofi.modi: run,drun,window

! ------------------------------------------------------------------------------
! Dmenu configs
! ------------------------------------------------------------------------------

dmenu.selforeground:      #d8dee9
dmenu.background:          #2e3440
dmenu.selbackground:      #bf616a
dmenu.foreground:          #d8dee9
                                                           